extends ../layout

block content
    .contenido-principal
        h1 #{proyect.name}

        //TODO - Formulario de tareas
        form.agregar-tarea(action=`/proyects/${proyect.url}` method="POST")
            .campo
                label(for="task") Tarea:
                input.nombre-tarea(type="text" name="task" placeholder="Nombre de la tarea")  
            .campo.enviar 
                input.boton.nueva-tarea(type="submit" value="Agregar tarea")

        //TODO - Listado de pendientes

        //- pre=vardump(tasks)

        .contenedor-acciones
            a(href=`/proyect/${proyect.id}/edit` class="boton") Editar Proyecto
            button#eliminar-proyecto(data-proyect-url=proyect.url type="button" class="boton eliminar") Eliminar Proyecto