extends ../layout

block content
    .contenido-principal
        h1 #{proyect.name}

        //TODO - Formulario de tareas
        form.agregar-tarea(action=`/proyects/${proyect.url}` method="POST")
            .campo
                label(for="task") Tarea:
                input.nombre-tarea(type="text" name="task" placeholder="Nombre de la tarea")  
            .campo.enviar 
                input.boton.nueva-tarea(type="submit" value="Agregar tarea")

        //TODO - Listado de pendientes

        //- pre=vardump(tasks)
        .listado-pendientes
            ul
                if tasks.length 
                    each task in tasks 
                        li.tarea 
                            p= task.task 
                            .acciones 
                                if (task.status==1)
                                    i.far.fa-check-circle.completo 
                                else 
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else 
                    p No hay tareas en este proyecto

        .contenedor-acciones
            a(href=`/proyect/${proyect.id}/edit` class="boton") Editar Proyecto
            button#eliminar-proyecto(data-proyect-url=proyect.url type="button" class="boton eliminar") Eliminar Proyecto